<p id="notice"><%= notice %></p>

<h1>Mantenedor Menu</h1>

<table>
  <thead>
    <tr>
      <th>Precio</th>
      <th>Producto</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.price %></td>
        <td><%= publication.titulo %></td>
        <td><%= publication.descripcion %></td>
        <td><%= link_to 'Crear', publication %></td>
        <td><%= link_to 'Editar', edit_publication_path(publication) %></td>
        <td><%= link_to 'Eliminar', publication, method: :delete, data: { confirm: 'Esta seguro que desea eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Articulo', new_publication_path, data: { confirm: 'Deseas publicar?' }, class: 'btn btn-lg btn-primary' %>
